*

!.gitignore

!aerc/
!alacritty/
!bash/
!bat
!bpytop/
!browsh/
!conda/
!ctpv/
!dunst/
!fontconfig/
!gh/
!git/
!gnupg/
!htop/
!lf/
!nvim/
!manim/
!matplotlib/
!mime/
!misc/
!mpv/
!news-flash/
!npm/
!nvtop/
!packages/
!patches/
!pip/
!python/
!scripts/
!shell/
!ssh/
!systemd/
!terminal-colors.d
!tmux/
!vim/
!vscode/
!wallpapers/
!wget/
!x11/
!xdg/
!yay/
!yarn/
!zathura/
!zsh/
!README.md
